@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * > * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  .input-text {
    @apply mt-1 w-60 px-3  sm:block py-2 bg-white border border-slate-300 rounded-full text-sm shadow-sm placeholder-slate-500;
    @apply focus:outline-none focus:outline-sky-500 focus:ring-1 ring-sky-500;
  }
}
